n8n/import/wf_connector_failure_isolation_audit.json
{
  "name": "wf_connector_failure_isolation_audit",
  "nodes": [
    {
      "parameters": {
        "content": "wf_connector_failure_isolation_audit inspects connector rate limits, circuit state, timeout caps, and recent blocked conditions via /connectors/failure-isolation-report."
      },
      "id": "c03bf51f-9b78-460e-be9d-1d6ae5dbf439",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -820,
        -140
      ]
    },
    {
      "parameters": {},
      "id": "1d1b5105-57e0-462b-ab13-391acd7a3292",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{\"tenant_id\": \"default\", \"service_names\": [], \"persist\": false}}];"
      },
      "id": "c0f260f3-ed55-4666-ba80-79988d0f8305",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={($env.SERVICE_BASE_URL || 'http://host.docker.internal:8000').replace(/\\/$/, '') + '/connectors/failure-isolation-report'}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "3f7210e5-c688-4011-97ab-fb3072b1eae8",
      "name": "Backend Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json; return [{json:{status: body.status || 'ok', open_circuit_count: body.open_circuit_count || 0, rate_limited_services_count: body.rate_limited_services_count || 0, services: body.services || [], next_actions: body.next_actions || []}}];"
      },
      "id": "95b30530-bac0-493f-9fc0-1107bfb29952",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        40
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Backend Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Request": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
