n8n/import/wf_connector_credential_matrix.json
{
  "name": "wf_connector_credential_matrix",
  "nodes": [
    {
      "parameters": {
        "content": "wf_connector_credential_matrix backend bridge workflow. Use this to summarize connector environment variable coverage across services before rollout."
      },
      "id": "9b6f5e80-44b4-4b7c-910b-c0e7770a5001",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -820,
        -140
      ]
    },
    {
      "parameters": {},
      "id": "9b6f5e80-44b4-4b7c-910b-c0e7770a5002",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{tenant_id: \"default\", service_names: [], persist: false}}];"
      },
      "id": "9b6f5e80-44b4-4b7c-910b-c0e7770a5003",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.SERVICE_BASE_URL || \"http://host.docker.internal:8000\").replace(/\\/$/, \"\") + \"/connectors/credential-matrix\"}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "9b6f5e80-44b4-4b7c-910b-c0e7770a5004",
      "name": "Backend Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        40
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json; return [{json:{status: body.status || 'ok', count: body.count || 0, configured_count: body.configured_count || 0, live_ready_count: body.live_ready_count || 0, unique_credential_key_count: body.unique_credential_key_count || 0, summary: body.summary || {}, credential_keys: body.credential_keys || [], services: body.services || []}}];"
      },
      "id": "9b6f5e80-44b4-4b7c-910b-c0e7770a5005",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        40
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Backend Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Request": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
