n8n/import/wf_connector_readiness_report.json
{
  "name": "wf_connector_readiness_report",
  "nodes": [
    {
      "parameters": {
        "content": "wf_connector_readiness_report backend bridge workflow. Use this to combine connector configuration readiness with packaged workflow coverage and recommended next actions."
      },
      "id": "3d56ca24-d428-552b-8aa6-fc886ee56c71",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -820,
        -140
      ]
    },
    {
      "parameters": {},
      "id": "e36d5a53-0def-59c5-85a6-0992159d1da0",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{tenant_id: \"default\", service_names: [], persist: false}}];"
      },
      "id": "5baf65a1-8af8-54d9-8dff-dc4aa9535c4d",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.SERVICE_BASE_URL || \"http://host.docker.internal:8000\").replace(/\\/$/, \"\") + \"/connectors/readiness-report\"}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "dac932d5-f499-50d3-aecd-e52ecbcc2148",
      "name": "Backend Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        40
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json; return [{json:{status: body.status || 'ok', count: body.count || 0, configured_count: body.configured_count || 0, live_ready_count: body.live_ready_count || 0, import_ready_count: body.import_ready_count || 0, draft_ready_count: body.draft_ready_count || 0, connectors: body.connectors || []}}];"
      },
      "id": "bd960fed-8b02-5c5d-9fda-ba27f9da5fa2",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        40
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Backend Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Request": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
