n8n/import/wf_connector_persistence_report.json
{
  "name": "wf_connector_persistence_report",
  "nodes": [
    {
      "parameters": {
        "content": "wf_connector_persistence_report backend bridge workflow. Use this to audit connector persistence tables, row counts, and next DB-backed verification actions."
      },
      "id": "2b85752d-2187-42cd-9444-ee10bcb72b5d",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -820,
        -140
      ]
    },
    {
      "parameters": {},
      "id": "2c930c67-07a2-43a4-af46-c35cfad18b09",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{tenant_id: \"default\"}}];"
      },
      "id": "385b348d-572e-45fc-88d4-1a1b4033df7d",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.SERVICE_BASE_URL || \"http://host.docker.internal:8080\") + \"/connectors/persistence-report\"}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "8335d3fa-c3e6-477b-8e8a-d5782f2dffef",
      "name": "Backend Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        40
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json; return [{json:{status: body.status || 'ok', count: body.count || 0, configured_count: body.configured_count || 0, live_ready_count: body.live_ready_count || 0, import_ready_count: body.import_ready_count || 0, draft_ready_count: body.draft_ready_count || 0, connectors: body.connectors || []}}];"
      },
      "id": "64f9ecef-f23b-4917-b1fd-2ed05daa06f1",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        40
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Backend Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Request": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
