n8n/import/wf_connector_prepare.json
{
  "name": "wf_connector_prepare",
  "nodes": [
    {
      "parameters": {
        "content": "wf_connector_prepare backend bridge workflow. Review setup notes before running."
      },
      "id": "43ed4060-a581-50cf-bffa-71ac362b752f",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -820,
        -140
      ]
    },
    {
      "parameters": {},
      "id": "9a41a742-446b-5742-9bfe-04b3f9de70fe",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{\"service_name\": \"pubmed\", \"operation_id\": \"search\", \"body\": {}, \"query\": {}, \"headers\": {}}}];"
      },
      "id": "afa654d2-7189-5500-b645-13784aff4aa6",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.SERVICE_BASE_URL || \"http://host.docker.internal:8000\").replace(/\\/$/, \"\") + \"/connectors/prepare\"}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "1a495bf7-c41d-5334-be23-3022ef4b8a4d",
      "name": "Backend Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        40
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json; return [{json:{ok: body.status !== \"error\", status: body.status || \"ok\", service_name: body.service_name || null, operation_id: body.operation_id || null, summary: body.summary || null, pagination: body.pagination || null, result: body.normalized || body.data || body}}];"
      },
      "id": "15333633-1543-55b2-9d59-9fbc075f05f0",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        40
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Backend Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Request": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
