n8n/import/wf_connector_smoke_test.json
{
  "name": "wf_connector_smoke_test",
  "nodes": [
    {
      "parameters": {
        "content": "wf_connector_smoke_test backend bridge workflow. Review setup notes before running."
      },
      "id": "90888c94-0fba-5b9e-af5c-b2abd67b14fd",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -820,
        -140
      ]
    },
    {
      "parameters": {},
      "id": "01c437e0-5c26-5bee-b3fd-12e1297266ac",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{\"service_name\": \"drawio\", \"operation_id\": \"build_xml_artifact\", \"dry_run\": true}}];"
      },
      "id": "d0f4e6c4-c748-56d1-8fea-6477e6ecc5f1",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.SERVICE_BASE_URL || \"http://host.docker.internal:8000\").replace(/\\/$/, \"\") + \"/connectors/smoke-test\"}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "ec3fea28-266a-50a2-8260-2d172ed60f9c",
      "name": "Backend Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        40
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json; return [{json:{ok: body.status !== \"error\", status: body.status || \"ok\", service_name: body.service_name || null, operation_id: body.operation_id || null, summary: body.summary || null, pagination: body.pagination || null, result: body.normalized || body.data || body}}];"
      },
      "id": "33f341b5-eccd-51cb-8606-db97a474ffbe",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        40
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Backend Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Request": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
