n8n/import/wf_connector_workflow_manifest.json
{
  "name": "wf_connector_workflow_manifest",
  "nodes": [
    {
      "parameters": {
        "content": "wf_connector_workflow_manifest backend bridge workflow. Use this to see which packaged workflows cover which connector operations and where workflow-draft is still needed."
      },
      "id": "3a149cfe-ab74-5a90-96bf-ed70f18f449a",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -820,
        -140
      ]
    },
    {
      "parameters": {},
      "id": "455781c9-8ed6-5faf-97e4-d54665133d10",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{}}];"
      },
      "id": "af2a303b-2fbf-5cff-bce4-4efe7134374c",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        40
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{($env.SERVICE_BASE_URL || \"http://host.docker.internal:8000\").replace(/\\/$/, \"\") + \"/connectors/workflow-manifest\"}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": []
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "d6b1093a-f208-55a3-9931-5593863b4461",
      "name": "Backend Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        40
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json; return [{json:{status: body.status || 'ok', count: body.count || 0, connectors: body.connectors || []}}];"
      },
      "id": "8e7215af-e128-5740-874a-57df5cf2747e",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        40
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Backend Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Request": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
