n8n/import/wf_connector_rollout_bundle.json
{
  "name": "wf_connector_rollout_bundle",
  "nodes": [
    {
      "parameters": {
        "content": "wf_connector_rollout_bundle backend bridge workflow. Use this to generate one combined connector rollout bundle that merges preflight, workflow coverage, readiness, deployment steps, and next commands."
      },
      "id": "0c3f51ea-9f7f-4aa5-a924-5739ec4525a8",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -820,
        -140
      ]
    },
    {
      "parameters": {},
      "id": "3cc23f3a-ed91-45e1-b2d4-bbe0da4aef9a",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{tenant_id: \"default\", service_names: [], persist: false}}];"
      },
      "id": "a8a9b814-108b-4d64-80ad-2abd79ab41bf",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.SERVICE_BASE_URL || \"http://localhost:8080\") + \"/connectors/rollout-bundle\"}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "f9ccbe49-8bb8-40ac-9722-f6cbf49be463",
      "name": "Backend Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        40
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json; return [{json:{status: body.status || 'ok', count: body.count || 0, configured_count: body.configured_count || 0, live_ready_count: body.live_ready_count || 0, ready_to_import_count: body.ready_to_import_count || 0, requires_credentials_count: body.requires_credentials_count || 0, summary: body.summary || {}, next_actions: body.next_actions || [], connectors: body.connectors || []}}];"
      },
      "id": "51bae257-b515-415a-940e-27477450d62b",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        40
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Backend Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Request": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
