n8n/import/wf_figma_file_inspect.json
{
  "name": "wf_figma_file_inspect",
  "nodes": [
    {
      "parameters": {
        "content": "wf_figma_file_inspect backend bridge workflow. Review setup notes before running."
      },
      "id": "5a6b6641-31e5-5bb0-94e7-f664a090ca13",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -820,
        -140
      ]
    },
    {
      "parameters": {},
      "id": "88e5d6d2-2032-5953-9154-8095c759fdb8",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{\"service_name\": \"figma\", \"operation_id\": \"get_file\", \"body\": {\"FIGMA_FILE_KEY\": \"__FIGMA_FILE_KEY__\"}, \"query\": {}, \"headers\": {}, \"timeout_seconds\": 30}}];"
      },
      "id": "b93b5068-5887-595b-8e17-f3ab00d5b06c",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.SERVICE_BASE_URL || \"http://host.docker.internal:8000\").replace(/\\/$/, \"\") + \"/connectors/execute-live\"}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "c99e244e-e888-53cb-94b8-7e83ab412f56",
      "name": "Backend Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        40
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json; return [{json:{ok: body.status !== \"error\", status: body.status || \"ok\", service_name: body.service_name || null, operation_id: body.operation_id || null, summary: body.summary || null, pagination: body.pagination || null, result: body.normalized || body.data || body}}];"
      },
      "id": "5980d62a-5b8c-584a-99ff-3a9633e53f2b",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        40
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Backend Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Request": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
