n8n/import/wf_release_publish_pipeline.json
{
  "name": "wf_release_publish_pipeline",
  "nodes": [
    {
      "parameters": {
        "content": "wf_release_publish_pipeline stages a release publication bundle via /release/publish and returns the artifact path, checksum, and next actions."
      },
      "id": "note-1",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-820, -140]
    },
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-780, 40]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{tenant_id:'default', release_version:'', persist:false, require_preflight:true, require_checksum_validation:true, include_reports:true}}];"
      },
      "id": "code-1",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-460, 40]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={($env.SERVICE_BASE_URL || 'http://host.docker.internal:8000').replace(/\\/$/, '') + '/release/publish'}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "http-1",
      "name": "Backend Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-120, 40]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json; return [{json:{status: body.status || 'ok', release_version: body.release_version, published: !!body.published, publication_status: body.publication_status, output_path: body.output_path, package_checksum: body.package_checksum, preflight_ready: !!body.preflight_ready, checksum_valid: !!body.checksum_valid, next_actions: body.next_actions || []}}];"
      },
      "id": "code-2",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 40]
    }
  ],
  "connections": {
    "Manual Trigger": {"main": [[{"node": "Build Payload", "type": "main", "index": 0}]]},
    "Build Payload": {"main": [[{"node": "Backend Request", "type": "main", "index": 0}]]},
    "Backend Request": {"main": [[{"node": "Normalize Response", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "active": false,
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": false},
  "tags": []
}
