n8n/import/wf_release_preflight_validation.json
{
  "name": "wf_release_preflight_validation",
  "nodes": [
    {
      "parameters": {
        "content": "wf_release_preflight_validation runs packaged release checks and returns a ready/not-ready report via /release/preflight."
      },
      "id": "note-1",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -820,
        -140
      ]
    },
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{\"tenant_id\": \"default\", \"persist\": false}}];"
      },
      "id": "code-1",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={($env.SERVICE_BASE_URL || 'http://host.docker.internal:8000').replace(/\\/$/, '') + '/release/preflight'}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "http-1",
      "name": "Backend Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json; return [{json:{status: body.status || 'ok', release_version: body.release_version, ready: body.ready, workflow_count: body.workflow_count || 0, migration_count: body.migration_count || 0, generated_artifacts: body.generated_artifacts || [], next_actions: body.next_actions || []}}];"
      },
      "id": "code-2",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        40
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Backend Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Request": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}