n8n/import/wf_tenant_query_scope_audit.json
{
  "name": "wf_tenant_query_scope_audit",
  "nodes": [
    {
      "parameters": {
        "content": "wf_tenant_query_scope_audit calls /tenants/query-scope-report so operators can see the effective tenant filter, visible tenant IDs, and SQL-style scope before tightening stricter row-level isolation in production."
      },
      "id": "note-1",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -820,
        -140
      ]
    },
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{tenant_id:'default', requested_tenant_id:'default', resource_table:'release_publications', route:'/release/publications', action:'read', actor_id:'admin', role:'admin', identity_tenant_id:'default'}}];"
      },
      "id": "code-1",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={($env.SERVICE_BASE_URL || 'http://host.docker.internal:8000').replace(/\\/$/, '') + '/tenants/query-scope-report'}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "http-1",
      "name": "Backend Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json; return [{json:{status: body.status || 'ok', tenant_id: body.tenant_id, resource_table: body.resource_table, route: body.route, decision: body.decision, reason: body.reason, visible_tenant_ids: body.visible_tenant_ids || [], query_scope_sql: body.query_scope_sql || '', next_actions: body.next_actions || []}}];"
      },
      "id": "code-2",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        40
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Backend Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Request": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "versionId": "tenant-query-scope-v1"
}
