n8n/import/wf_tenant_enforcement_audit.json
{
  "name": "wf_tenant_enforcement_audit",
  "nodes": [
    {
      "parameters": {
        "content": "wf_tenant_enforcement_audit calls /tenants/enforcement-report so operators can see the effective route policy, decision, and next actions before enabling stricter tenant enforcement."
      },
      "id": "note-1",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-820, -140]
    },
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-780, 40]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{tenant_id:'default', requested_tenant_id:'default', route:'/secrets/list', method:'POST', actor_id:'admin', role:'admin', identity_tenant_id:'default'}}];"
      },
      "id": "code-1",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-460, 40]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={($env.SERVICE_BASE_URL || 'http://host.docker.internal:8000').replace(/\/$/, '') + '/tenants/enforcement-report'}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {"timeout": 120000}
      },
      "id": "http-1",
      "name": "Backend Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-120, 40]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json; return [{json:{status: body.status || 'ok', tenant_id: body.tenant_id, route: body.route, decision: body.decision, reason: body.reason, policy: body.policy || {}, accessible_tenants: body.accessible_tenants || [], next_actions: body.next_actions || []}}];"
      },
      "id": "code-2",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 40]
    }
  ],
  "connections": {
    "Manual Trigger": {"main": [[{"node": "Build Payload", "type": "main", "index": 0}]]},
    "Build Payload": {"main": [[{"node": "Backend Request", "type": "main", "index": 0}]]},
    "Backend Request": {"main": [[{"node": "Normalize Response", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "active": false,
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": false},
  "tags": []
}
