n8n/import/wf_tenant_policy_upsert.json
{
  "name": "wf_tenant_policy_upsert",
  "nodes": [
    {
      "parameters": {
        "content": "wf_tenant_policy_upsert writes a tenant route policy to /tenants/policy so stricter tenant enforcement can be staged per route without editing code."
      },
      "id": "note-1",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-820, -140]
    },
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-780, 40]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{tenant_id:'default', route_prefix:'/secrets/', resource_type:'secrets', strict_mode:'enforce', require_membership:true, allow_admin_override:false, allow_service_account_override:false, metadata_json:{owner:'security', note:'Keep secrets tenant-bound by default'}}}];"
      },
      "id": "code-1",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-460, 40]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={($env.SERVICE_BASE_URL || 'http://host.docker.internal:8000').replace(/\/$/, '') + '/tenants/policy'}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {"timeout": 120000}
      },
      "id": "http-1",
      "name": "Backend Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-120, 40]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json; const policy = body.policy || {}; return [{json:{status: body.status || 'ok', tenant_id: policy.tenant_id || 'default', route_prefix: policy.route_prefix, resource_type: policy.resource_type, strict_mode: policy.strict_mode, allow_admin_override: !!policy.allow_admin_override, require_membership: !!policy.require_membership, metadata_json: policy.metadata_json || {}}}];"
      },
      "id": "code-2",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 40]
    }
  ],
  "connections": {
    "Manual Trigger": {"main": [[{"node": "Build Payload", "type": "main", "index": 0}]]},
    "Build Payload": {"main": [[{"node": "Backend Request", "type": "main", "index": 0}]]},
    "Backend Request": {"main": [[{"node": "Normalize Response", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "active": false,
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": false},
  "tags": []
}
