n8n/import/wf_tenant_row_policy_upsert.json
{
  "name": "wf_tenant_row_policy_upsert",
  "nodes": [
    {
      "parameters": {
        "content": "wf_tenant_row_policy_upsert writes a tenant row policy to /tenants/row-policy so stricter row-level tenant isolation can be staged per core table without editing code."
      },
      "id": "note-1",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -820,
        -140
      ]
    },
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{tenant_id:'default', resource_table:'jobs', strict_mode:'enforce', require_tenant_match:true, allow_admin_override:true, allow_service_account_override:false, allow_global_rows:false, metadata_json:{owner:'platform', note:'Enforce tenant match for job rows before enabling strict row isolation globally'}}}];"
      },
      "id": "code-1",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={($env.SERVICE_BASE_URL || 'http://host.docker.internal:8000').replace(/\\/$/, '') + '/tenants/row-policy'}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "http-1",
      "name": "Backend Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json; const policy = body.policy || {}; return [{json:{status: body.status || 'ok', tenant_id: policy.tenant_id || 'default', resource_table: policy.resource_table, strict_mode: policy.strict_mode, require_tenant_match: !!policy.require_tenant_match, allow_admin_override: !!policy.allow_admin_override, allow_service_account_override: !!policy.allow_service_account_override, allow_global_rows: !!policy.allow_global_rows, metadata_json: policy.metadata_json || {}, source: policy.source || 'unknown'}}];"
      },
      "id": "code-2",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        40
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Backend Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Request": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "versionId": "tenant-row-policy-v1"
}