n8n/import/wf_workflow_version_rollback.json
{
  "name": "wf_workflow_version_rollback",
  "nodes": [
    {
      "parameters": {
        "content": "wf_workflow_version_rollback creates a new rollback version from an earlier published or tested version."
      },
      "id": "96e5cc2d-b00d-478a-999b-807e97263ab1",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -820,
        -140
      ]
    },
    {
      "parameters": {},
      "id": "1caf75b8-2494-4c6c-a633-80180a9e9949",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{tenant_id:'default', workflow_id:'wf_pubmed_search', source_version:1, status:'draft', note:'rollback checkpoint'}}];"
      },
      "id": "0819b50c-888f-467b-b191-74cd023ada5f",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={($env.SERVICE_BASE_URL || \"http://host.docker.internal:8000\").replace(/\\/$/, \"\") + \"/workflows/version/rollback\"}",
        "options": {
          "timeout": 120000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      },
      "id": "fbf4590c-54b7-45d0-b722-29c3c47627da",
      "name": "Backend Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        40
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json; return [{json:{status: body.status || 'ok', result: body}}];"
      },
      "id": "7c04e887-2d5f-433b-9093-42370eb2c5a4",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        40
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Backend Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Request": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}